{% load static %}
<header class="mg-nav">
    <a class="mg-brand" href="{% url 'inicio' %}"><span class="mg-logo" aria-hidden="true"></span><span>MaikerGym</span></a>
    <button
        type="button"
        class="mg-nav-toggle"
        aria-expanded="false"
        aria-controls="appNavLinks"
        aria-label="Abrir menú de navegación"
    >
        <span class="mg-nav-toggle-lines" aria-hidden="true"><i></i><i></i><i></i></span>
        <span class="mg-nav-toggle-text">Menú</span>
    </button>
    <nav class="mg-nav-links" id="appNavLinks" aria-label="Navegación principal">
        <button type="button" class="icon-link" onclick="window.location.href='{% url 'inicio' %}'">
            <img class="nav-mini-icon" src="{% static 'icons/home.svg' %}" alt="">Inicio
        </button>
        <button type="button" class="icon-link" onclick="window.location.href='{% url 'objetivo' %}'">
            <img class="nav-mini-icon" src="{% static 'icons/objetivos.svg' %}" alt="">Objetivo
        </button>
        <button type="button" class="icon-link" onclick="window.location.href='{% url 'mi_entrenamiento' %}'">
            <img class="nav-mini-icon" src="{% static 'icons/rutinas.svg' %}" alt="">Entrenamiento
        </button>
        <button type="button" class="icon-link nutrition-nav-link" onclick="window.location.href='{% url 'dieta' %}'">
              <span class="food-nav-icon" aria-hidden="true">🍎</span>Nutrición
        </button>
          <button type="button" class="icon-link" onclick="window.location.href='{% url 'amigos' %}'">Amigos</button>
          <button type="button" class="icon-link notification-nav-link" onclick="window.location.href='{% url 'notificaciones' %}'">
            <img class="nav-mini-icon" src="{% static 'icons/mensajes.svg' %}" alt="">Notificaciones
        </button>
        <button type="button" class="icon-link" onclick="window.location.href='{% url 'precios' %}'">
            <img class="nav-mini-icon" src="{% static 'icons/planes.svg' %}" alt="">Precios
        </button>
        <button type="button" class="icon-link" onclick="window.location.href='{% url 'cuenta' %}'">
            <img class="nav-mini-icon" src="{% static 'icons/usuarios.svg' %}" alt="">Mi cuenta
        </button>
        <button type="button" class="icon-link logout-link" onclick="window.location.href='{% url 'logout' %}'">
            <img class="nav-mini-icon" src="{% static 'icons/logout.svg' %}" alt="">Salir
        </button>
    </nav>
</header>
